<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
  <div class="navbar">
    <ul>
      <li><a href="/recipes">Recipes</a></li>
      <li><a href="/recipes/<%= "#{430+rand(624)}"%>">Random Recipe!</a></li>
    </ul>
    <form action="/search" method="get">
      <label for="search_recipes">Search:</label>
        <input type="text" id="search_recipes" name="search" />
      <input type="submit" value="Search" />
    </form>
  </div>

  <div class="content">

    <%= yield %>

  </div>

  </body>
</html>
