/*===========navbar===========*/
body {
  background-color: #87A050;
}

.navbar {
  border: 1px solid #2D3636;
  height: 90%;
  padding: 0;
  margin-top: 30px;
  width:70%;
  margin-left: auto;
  margin-right:auto;
  background-color: #536464;
  font-family: Georgia;
}

.navbar li {
  color: white;
  display: inline-block;
  margin-left: 30px;
}

.navbar li :hover {
  color: #87A050;
}
.navbar a {
  text-decoration: none;
  color: white;
}

form {
  margin-top: -35px;
  margin-right: 10px;
  float: right;
  color: white;
}

/*=======Page Content======*/
.content {

  border-left: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: #E6EAF5;
}

/*=======Recipe List=========*/
.recipe_list {
  font-family: Georgia;
}
.recipe_list h1 {
  padding-top: 10px;
  color: #1A3A3A;
  margin-left: 30px;
}

.recipe_list ul {
  list-style: none;
  margin-left: -30px;
  text-align: center;
}

.recipe_list a {
  text-decoration: none;
  color: midnightblue;
}

.recipe_list ul :hover {
  color: green;
}

/*========pagination=======*/
.pages {
  border: 1px solid #2D3636;
  height: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 60px;
  width: 100%;
  margin-left: auto;
  margin-right:auto;
  background-color: #536464;
  font-family: Georgia;
  text-align: center;
}

.pages a {
  text-decoration: none;
  color: white;
}

.pages :hover {
  color: #87A050;
}

/*=======Single Recipe=======*/
.single_recipe {

}

.recipe_name {
  padding-top: 10px;
  color: #5C8A00;
  margin-left: 20px;
  margin-bottom: 0;
}

.description {
  margin-top: 10px;
  padding-left: 40px;
  padding-right: 50px;
  font-size: 14px;
  color: #536464;
  padding-bottom: 20px;
}

h3 {
  margin-left: 30px;
  color: #2D3636;
  margin-bottom: -10px;
}

.ingredients {
  margin-left: 40px;
  font-size: 14px;
  color: #536464;
  padding-bottom: 10px;
}

.instructions {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  color: #445151;
  padding-bottom: 50px;
}
